<nav class="teal">
  <div class="nav-wrapper">
      <a href="#" class="brand-logo">Welcome</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="">Logout</a></li>
      </ul>
  </div>
</nav>
<div class="card white darken-1 center-align" style="margin-top:10%;">
  <h3>Click here to take your test!</h3>
  <button class='center-align waves-effect waves-light btn' type="submit" routerLink="/test">Take Test</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class='center-align waves-effect waves-light btn' type="submit" routerLink="/view">View Result</button>&nbsp;&nbsp;&nbsp;&nbsp; 
</div>

<footer class="page-footer teal" style="position:fixed;bottom:0;left:0;width:100%;">
          © 2019 Final Year Project
</footer>
