<nav class="teal">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Welcome</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="card white darken-1 center-align" style="margin-top:10%;">
    <h3>List of Students</h3>
        <!-- <ul class="collection">
            <li class="collection-item row">
                <div class="col s6">Alvin</div><div class="col s3"><a routerLink="/view" class="secondary-content">View</a></div>    
            </li>
            <li class="collection-item row">
                <div class="col s6">Vima</div><div class="col s3"><a routerLink="/view" class="secondary-content">View</a></div>    
            </li>
            <li class="collection-item row">
                <div class="col s6">Ankush</div><div class="col s3"><a routerLink="/view" class="secondary-content">View</a></div>    
            </li>
        </ul> -->

</div>

<footer class="page-footer teal" style="position:fixed;bottom:0;left:0;width:100%;">
            © 2019 Final Year Project
</footer>